/*common parts*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;
    font-family: sans-serif;
}

/* logo */
img#logo-img {
    height: 50px;
    border-right: 1px solid lightgrey;
    padding-right: 10px;
}

/* menù navigazione */
nav {
    margin: 40px 0px;
}

nav ul li {
    display: inline;
    list-style: none;
    text-transform: uppercase;
    margin-right: 10px;
}

nav ul li a {
    color: rgb(119, 117, 117);
    text-decoration: none;
}

/* banner */
div.banner {
    height: 400px;
    position: relative;
}

div.banner div.overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px;
}

img#img-banner {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.banner .banner-text {
    position: absolute;
    left: 30px;
    bottom: 50px;
    color: #fff;
}

.second-part {
    font-size: 0.8rem;
}

/* inizio main */
main {
    margin: 40px 0px;
}

main::after{
    content: '';
    display: table;
    clear: both;
}

main div.title {
    margin-bottom: 40px;
}

h1.title-main {
    text-transform: capitalize;
}

h3.description {
    color: grey;
    font-size: 0.8rem;
    font-weight: 300;
}

div.float {
    float: left;
}

div img.img-main {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 10px;
}

.float.left {
    width: 20%;
    position: relative;
}

.float.center {
    width: calc(60% - 40px);
    position: relative;
    margin: 0px 20px;
}

.float.right {
    width: 20%;
    position: relative;
}

div div.overlay-img {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px;
}

div h3 {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 300;
}

div.float p {
    color: grey;
    font-size: 0.8rem;
}
/* inizio footer */
footer {
    text-align: center;
    height: 40px;
    line-height: 40px;
}

footer h3.footer {
    font-weight: 300;
}

#heart {
    color: red;
    font-size: 3rem;
    vertical-align: middle
}